/* VIDEO */

.cr-button {
    border: var(--rc-border);
    color: var(--rc-color-n-050);
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    padding: var(--rc-btn-padding);
    transition: all 0.3s ease-in-out;
  }
  
  .cr-button:hover {
    background-color: var(--rc-color-n-050);
    color: var(--rc-color-n-500);
  }
  
  .cr-section-video {
    flex-direction: column;
    height: 35vh;
    overflow: hidden;
    margin-top: 2rem;
  }
  
  .cr-section-video__description {
    flex-direction: column;
    position: absolute;
    text-align: center;
    gap: var(--rc-gap);
    /* CON Z INDEX COLOCAMOS +1 LA DESCRIPCION POR ENCIMA DEL VIDEO */
    z-index: 1;
  }